body {
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 180%;
  color: #505050;
}
.wrapper {
  max-width: 1200px;
  padding: 0 40px;
  margin: auto;
}
.clearfix {
  clear: both;
  content: '';
  display: table;
}
header {
  height: 600px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
.header-small {
  height: 240px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
  padding: 25px 50px 25px 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
#brand {
  text-align: center;
  padding-top: 100px;
}
#brand img {
  height: 70px;
}
#brand h1 {
  font-size: 78px;
  line-height: 70%;
  color: #3598db;
  padding-top: 20px;
}
#brand h1 span {
  color: white;
  font-size: 50px;
  font-weight: normal;
}
#brand-small {
  text-align: center;
  padding-top: 20px;
}
#brand-small img {
  float: left;
  height: 70px;
  padding-top: -8px;
  padding-right: 10px;
}
#brand-small h1 {
  float: left;
  font-size: 50px;
  line-height: 70%;
  color: white;
  padding-top: 20px;
}
#brand-small h1 span {
  color: white;
  font-size: 50px;
  font-weight: normal;
}
section {
  padding: 50px 0;
}
.intro {
  text-align: center;
}
.text-lg {
  font-size: 20px;
}
section p {
  padding: 5px 0;
}
.bg-grey {
  background-color: #f5f5f5;
}
h2 {
  font-size: 32px;
  color: #7cccff;
  padding-bottom: 20px;
}
.why {
  list-style-type: disc;
  list-style-position: inside;
}
.team {
  float: right;
  padding-left: 15px;
}
h3 {
  font-size: 20px;
  padding-bottom: 5px;
}
.about-list {
  list-style-type: disc;
  list-style-position: inside;
}
.service-block {
  float: left;
  width: 32%;
  margin-right: 2%;
  background-color: #f5f5f5;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
}
.service-block-last {
  margin-right: 0;
}
.serivce-block img {
  width: 100%;
  margin-bottom: 15px;
}
.service-block h3 {
  font-size: 20px;
}
.google-map {
  float: right;
  margin: 0 0 20px 20px;
}
footer {
  background-color: #404040;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
}
